# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# JSON


# misc
.DS_Store
.env
.env.prod
.env.yaml
.env.ozine.yaml

# debug
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

deploy.sh
archive.tar.gz
dump.rdb
.env.local
